Host github.com
  User {{ account }}
  Port 22
  Hostname github.com
  IdentityFile ~/.ssh/id_rsa.git
  TCPKeepAlive yes
  IdentitiesOnly yes

Host heroku.com
  User git
  Port 22
  Hostname heroku.com
  IdentityFile ~/.ssh/id_rsa.heroku
  TCPKeepAlive yes
  IdentitiesOnly yes
